
::-webkit-scrollbar{display: none;}
.scrolling44{
    height: 100vh;
    overflow-y: scroll;
 
}
.Color{
    color: white;
    font-size: 32px;
    margin-right: 10px;
}

  .border_bottom{
      border-bottom: 1px solid #4d4d53;
  }
  .aside-icons{
      font-size: 20px;
  }
  .nav-link{
      align-items: center !important;
  }
  .NavBars{
      font-size: 20px;
  }
  .nav-icon{
      font-size: 20px;
  }
  .card{
      .card-header{
          .icon{
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 22px;
              color: aliceblue;
          }
      }
  }